<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <!-- title为变量 是模块的名字 -->
  <title>对照表</title>
  <style>
    [v-cloak] {
      display: none !important;
    }
  </style>
  <script>
    window.coolLocals = {}
  </script>
  <script type="post-load" src="../libs/xlsx-populate-no-encryption.min.js"></script>
  <script src="/settings.js"></script>
</head>

<body>
  <div id="root" v-cloak>
    <!--cool-single-view  cool-single-dialog  组件为固定组件 需模板生成-->
    <cool-single-view ref="singleView" :unique-deploy-key="uniqueDeployKey" :axios-setting="axiosSetting" :dialogs="dialogs" :show-mode-list="showModeList" :is-methods="isMethods" @table-row-click="tableRowClick" @table-row-dblclick="tableRowDblclick"
      @table-selection-change="tableSelectionChange" @pagination-size-change="paginationSizeChange" @pagination-current-change="paginationCurrentChange" @get-condition="getCondition" @query-btn="queryBtn" @import-btn="importBtn"></cool-single-view>
    <cool-single-dialog :unique-key="uniqueKey" :visible.sync="dialogVisible" :is-methods="isDialogMethods" @update-form="updateForm" @save-event="saveEvent"></cool-single-dialog>

    <!-- 导入 -->
    <el-dialog title="导入" :visible="importVisible" :close-on-click-modal="false" @close="importDialogClose" width="440px" v-loading="dialogLoading">
      <el-row v-if="importVisible">
        <el-col :span="16">
          <el-card shadow="never" style="height: 100px;width:250px;">
            <el-upload ref="upload" action="" :auto-upload="false" :multiple="false" :limit="2" :on-change="handleChange" :on-remove="handleRemove" :file-list="uploadlist">
              <el-button size="mini" type="primary">选择文件</el-button>
            </el-upload>
          </el-card>
        </el-col>
        <el-col :span="8" style="text-align:center">
          <el-button :disabled="uploadlist.length == 0" @click="btnImport_click" type="success" size="medium" style="margin:20px">导入</el-button>
        </el-col>
      </el-row>
    </el-dialog>

  </div>
</body>

</html>